@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';

.sub-producto {
    font-size: 10px;
  }

  .title-producto {
    font-size: 15px;
  }

  .sub-producto-more {
    font-size: 10px;
  }

  .title-producto-more {
    font-size: 12px;
  }

  
.slide-mas {
    height: 300px;
}

.btn-mas {
    position: relative;
    top: 13%;
}