<app-header [titulo]="titulo"></app-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar color="light" slot="bottom">
      <ion-tab-button tab="compras">
        <i class="material-icons-outlined">add_shopping_cart</i>
        <ion-label>COMPRAS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="gastos">
        <i class="material-icons-outlined">account_balance_wallet</i>
        <ion-label>GASTOS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ventas">
        <i class="material-icons-outlined">shopping_cart</i>
        <ion-label>VENTAS</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
