<ion-card color="light">
  <ion-card-header>
    <ion-card-title>
      <ion-text color="primary">
        <h4 class="ion-text-center">
          <strong>Historico: 14/12/2019</strong>
        </h4>
      </ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding" color="light">
      <ion-item>
        <ion-label position="floating">Seleccione la fecha</ion-label>
        <ion-datetime
          #myPicker
          displayFormat="DD/MM/YYYY"
          min="1991-01-01"
          (ionChange)="toggle(myPicker.value)"
          doneText="Seleccionar"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Seleccione la fecha</ion-label>
        <ion-datetime
          #myPicker
          displayFormat="DD/MM/YYYY"
          min="1991-01-01"
          (ionChange)="toggle(myPicker.value)"
          doneText="Seleccionar"
        ></ion-datetime>
      </ion-item>
  </ion-card-content>
</ion-card>
