.validation-errors {
  color: red;
  font-size: small;
}

.item{
  margin:5px auto;
  border-radius: 10px !important;
}

.item-option{
  margin:5px auto;
  border-radius: 10px !important;
}

.optionborder{
  border-radius: 10px !important;
  margin:10px 0px;
}

.sub-producto {
  font-size: 10px;
}

.sub-producto-fecha {
  font-size: 9px;
}
