<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
        <ion-title>Politica de Servicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-text class="my-paddin">
        <h1>Política de Seguridad y Privacidad</h1>

        <p>La política de seguridad y privacidad de los datos de CONAMYPE APP describe el modo en que CONAMYPE (a partir
            de ahora, “la institución”), podrá utilizar la información que pueda recopilar sobre el usuario a través de
            esta aplicación.</p>
        <h2>1. Protección de Datos.</h2>
        <p>La institución maneja la información del usuario con los niveles máximos de protección posibles en un sistema
            automatizado de tratamiento de datos. La información del usuario se incorpora a bases de datos y archivos
            propiedad de la institución y sólo son accedidos por los administradores informáticos con el fin de asegurar
            el funcionamiento de los sistemas computacionales.</p>
        <p>La información del usuario se almacena en los servidores de la institución y se conserva en el entorno más
            seguro posible, con todo tipo de medidas de seguridad físicas y tecnológicas y se trata con la más absoluta
            confidencialidad.</p>
        <h2>2. Seguridad de la información.</h2>
        <p>La institución ha empleado todos los sistemas y medidas técnicas a su alcance para evitar la pérdida, mal
            uso, alteración, acceso no autorizado y sustracción de los datos facilitados por el usuario.</p>
        <p>No obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son
            inexpugnables.</p>
        <h2>3. Recopilación y utilización de la información personal.</h2>
        <p>Cuando el usuario haga uso de la aplicación, la institución puede pedirle determinada información de carácter
            personal. La institución utiliza los datos recopilados a través de la aplicación para registrar al usuario y
            para remitirle la información o los servicios que éste nos solicite. La institución procesará la Información
            personal del usuario siempre que ello constituya un requisito para proporcionarle un mejor servicio y
            siempre dentro de los límites permitidos por la ley. La institución asume el compromiso de no recopilar
            información innecesaria sobre el usuario.</p>
        <h2>4. Análisis de la información de bitácoras.</h2>
        <p>La institución puede almacenar y hacer uso de las direcciones IP que figuran en los archivos ‘log’ o bitácora
            a fin de analizar las tendencias, administrar la aplicación y realizar un seguimiento de la utilización de
            la aplicación en su conjunto. La información global recogida puede utilizarse para personalizar la respuesta
            al usuario. La institución no asocia direcciones IP con información identificable personalmente.</p>

        <h2>5. Cesión de información personal a terceros.</h2>
        <p>La institución puede ceder información personal del usuario exclusivamente a otras instituciones del gobierno
            de El Salvador y únicamente en el caso de que esta cesión sea necesaria para ejecutar un servicio o trámite
            que el usuario haya solicitado de forma expresa a través de la aplicación móvil
            Con excepción del caso anterior, la institución no vende, cede, ni transmite en modo alguno información
            personal de sus usuarios a terceros.</p>
        <h2>6. Aplicabilidad a otros sitios web.</h2>
        <p>CONAMYPE APP puede contener enlaces a otros sitios. La institución no dispone de control alguno ni ostenta
            responsabilidad alguna sobre las políticas o medidas de protección de datos de otros sitios web.</p>
        <h2>7. Utilización de la dirección de correo electrónico del usuario.</h2>
        <p>La institución puede remitir correos electrónicos al usuario una vez éste facilite su dirección y bajo las
            condiciones expresamente aceptadas por éste.</p>
        <p>En protección de la privacidad del usuario, éste dispone de control absoluto sobre la recepción de dichos
            correos.</p>
        <h2>8. Cambios en la política de seguridad y protección de datos.</h2>
        <p>La institución se reserva el derecho de modificar su política de seguridad y protección de datos de forma
            discrecional, siempre con arreglo a la legislación vigente en materia de protección de datos, con efectos de
            la fecha de publicación de dicha modificación en el sitio web de la institución.</p>

    </ion-text>
</ion-content>
